body, html {
    height: 100%;
    margin: 0;
  }
.menu {
    height: 100%;
    box-sizing: border-box;
    font-size: 20px;
    margin-top:16px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin:0;
    padding: 8px 12px;
    border-right: 0.5px solid black;
}

.logo {
    padding: 24px 0;
}

.navigate {
    text-decoration: None;
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 15px;
}

.navigate div {
    padding: 12px;
}

.nav-item {
    text-decoration: none;
}

.icon {
    vertical-align: top;
    margin-right: 2px;
}