.navbar {
    position: sticky;
    top: 0px;
    height: 3.4em;
    padding: 3px;
    background: white;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.679);
    box-shadow: 1px 1px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

.logo {
    margin: auto;
    margin-left: 10px;
    float: left;
}